<meta charset="UTF-8">
<title>home</title>
<link rel="stylesheet" href="/style.css">

<div class="topbar">
    <h1>APP NAME<br>
        <small>You're not alone</small>
    </h1>
</div>

{{{body}}}

{{!-- FOOTER HERE --}}
<div class="footer">
    <footer>INSERT FOOTER FEATURES</footer>
</div>
